@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body
{
    margin: 0px;
    background: linear-gradient(180deg, rgba(234,172,86,1) 0%, rgba(232,161,59,1) 35%, rgba(57,47,90,1) 64%, rgba(37,78,112,1) 100%);
    font-family: "Oswald", sans-serif;
}

a{
    text-decoration: none;
}

.header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    left: 0px;
    right: 0px;
    z-index: 2;
    align-items: center;
    background-color: #42404014;
    backdrop-filter: blur(4px);
    border-radius: 0px 0px 10px 10px;
}

.logo{
    height: 60px;
}

.navbar{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar-content
{
    padding: 10px;
    margin: 5px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-shadow: 6px 2px 5px #5b4a4a;
}

.navbar-content span
{
    position: relative;
    bottom: 6px;
}

.navbar-content:hover
{
    color: rgb(36, 11, 138);
}

.carousel-image
{
    width: 100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    bottom: 30%;
}

.title-img
{
    height: 406.5px;
    overflow: hidden;
}

.title-img img{
    position: absolute;    
    bottom: 40%;
}

.slide
{
    display: none;
    z-index: 1;
    height: 500px;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 35%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 2;
}

.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.slide.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.info
{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    position: relative;
    bottom: 15px;
}

.info-col
{
    width: 240px;
    background-color: rgba(255, 255, 255, 0.413);
    border: #000000;
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.info-col p{
    margin: 0px;
}

.info-data
{
    color: white;
    font-weight: 900;
    font-size: 40px;
}

.info-data-desc
{
    color: blue;
    font-weight: 300;
}

.info-desc
{
    color: white;
    font-weight: 200;
    font-size: 20px;
}

.programme
{
    display: flex;
    flex-direction: column;
}

.program-title
{
    font-weight: 300;
    font-size: 25px;
    color: white;
    padding-left: 20px;
}

.gallery-content
{
    padding: 10px;
}

.gallery-content:hover
{
    /* position: relative;
    bottom: 10px; */
    animation-name: slideup;
    animation-duration: .5s;
}

@keyframes slideup
{
    from {}
    to
    {
        position: relative;
        bottom: 10px
    }
}

.blue
{
    background-color: blue;
}

.orange
{
    background-color: orange;
}

.gallery-content p
{
    color: white;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    bottom: 42px;
    border-radius: 0px 0px 5px 5px;
    padding: 5px 10px;
}


.gallery-row
{
    display: flex;
    justify-content: space-around;
}

.program-img
{
    width: 275px;
    border-radius: 5px;
}

.title{
    color: white;
    background-color: blue;
    display: flex;
    justify-content: space-around;
}

.title-content
{
    font-weight: 500;
    font-size: 40px;
    margin: 20px;
}

.typing-content
{
    padding: 30px;
    color: white;
}

.typing-content p
{
    font-size: 30px;
    font-weight: 300;
}

#dynamic-text {
    color: greenyellow;
    position: relative;
}

#dynamic-text::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: greenyellow;
    transform: translateY(-45%);
    animation: blink 0.7s infinite; /* Blinking cursor */
}

#dynamic-text.stop-blinking::before {
    animation: none; /* Stops blinking when typing ends */
}

@keyframes blink {
    50% { opacity: 0; }
}

.intro
{
    color: white;
    font-weight: 200;
    font-size: 20px;
    padding: 30px;
}